<div>

		<fieldset>
			
			<div class="control-group">											
				<label class="control-label" for="firstname">First Name</label>
				<div class="controls">
					{{viewCustomer.fname}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					{{viewCustomer.lname}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					{{viewCustomer.emailid}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="phone">Phone</label>
				<div class="controls">
					{{viewCustomer.mobileno}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			<div class="control-group">											
				<label class="control-label" for="bio">VC-Number</label>
				<div class="controls">
					{{viewCustomer.vc_number}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			

		</fieldset>
								
</div>
