<div>
        <flash-message duration="5000" show-close="true"></flash-message>
	<form id="edit-profile" novalidate name="editChannelForm" autocomplete="off" class="form-horizontal">
		<fieldset>
			
			<div class="control-group">											
                                        <label class="control-label" for="firstname">Category Name<sup>*</sup></label>
                                        <div class="controls">
                                            <select class="span4" name="pk_cat_id" ng-model="channel.fk_cat_id" 
                                                    validator="required" required-error-message="Category is required" valid-method="watch">
                                                <option value="" data-ng-disabled="true" > -- Select Role  --</option>
                                                <option  data-ng-repeat="x in categorylist" ng-selected="{{ x.pk_cat_id == channel.fk_cat_id }}" value="{{x.pk_cat_id}}">{{x.cate_name}}</option> 
                                            </select>

                                        </div> <!-- /controls -->				
                                    </div> <!-- /control-group -->
                                    <div class="control-group">											
                                        <label class="control-label" for="firstname">Channel Name<sup>*</sup></label>
                                        <div class="controls">
                                            <input class="span4" name="channel_name" placeholder="Channel Name" ng-model="channel.channel_name" 
                                                   validator="required,minlength,maxlength" minlength="3" maxlength="20" required-error-message="Channel Name is required" valid-method="watch" />	
                                        </div> <!-- /controls -->				
                                    </div> <!-- /control-group -->


                                    <div class="control-group">											
                                        <label class="control-label" for="lastname">Channel NO<sup>*</sup></label>
                                        <div class="controls">
                                            <input class="span4" name="channel_no" placeholder="Channel Number" ng-model="channel.channel_no" 
                                                   validator="required,minlength,maxlength" minlength="3" maxlength="20" required-error-message="Channel Number is required" valid-method="watch" />
                                        </div> <!-- /controls -->				
                                    </div> <!-- /control-group -->
                                    <div class="control-group">											
                                        <label class="control-label" for="lastname">Channel URL<sup>*</sup></label>
                                        <div class="controls">
                                            <input class="span4" name="channel_url" placeholder="Channel URL" ng-model="channel.channel_url" 
                                                   validator="required,url" minlength="3" maxlength="20" required-error-message="Channel URL is required" valid-method="watch" />
                                        </div> <!-- /controls -->				
                                    </div> <!-- /control-group -->			
			
				
			<div class="form-actions">
				<input type="hidden" name="pk_ch_id" ng-model="customer.pk_ch_id">
				<button type="button" class="btn btn-primary" validation-submit="editChannelForm" ng-click="updateChannel()">Save</button> 
				<button ng-click="cancel()" class="btn">Cancel</button>
			</div> <!-- /form-actions -->
		</fieldset>
	</form>
								
</div>
