<div>

		<fieldset>
			<div class="control-group">											
				<label class="control-label" for="firstname">Category Name</label>
				<div class="controls">
					{{viewChannel.cate_name}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			<div class="control-group">											
				<label class="control-label" for="channel_name">Channel Name</label>
				<div class="controls">
					{{viewChannel.fname}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="lastname">Channel NO</label>
				<div class="controls">
					{{viewChannel.channel_no}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="email">Channel URL</label>
				<div class="controls">
					{{viewChannel.channel_url}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->			
			
			

		</fieldset>
								
</div>
